<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uncle Eugen's Pizza</title>

    <!-- favicon -->
    <link rel="icon" href="images/1522440.png">

    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/pizza-style.css">

    <!-- javascript -->
     <script src="js/pizza.js" defer></script>
</head>

<body>    

    <main>

        <header>
            <img src="images/italian-pizza-chef-26533229.webp" width="300">
            <h1>Uncle Eugen's Pizza</h1>
            <h2>Keeping Italian-American flavor real for 60 years!</h2>
            <hr>
            <p>Quality you can taste, tradition you can cherish.</p>
            <a id="contact-button" href="/contact-us" role="button">Contact Us!</a>
        </header>

        <form id="pizza-form" action="/submit-order", method="post">
            <!-- contact info -->
            <fieldset>
                <legend>Contact Info</legend>
                <label for="fname">First Name
                    <span class="err" id="err-fname">First name is required.</span>
                </label>
                <input type="text" id="fname" name="fname">
                <label for="lname">Last Name
                    <span class="err" id="err-lname">Last name is required.</span>
                </label>
                <input type="text" id="lname" name="lname">
                <label for="email">Email
                    <span class="err" id="err-email">Email is required.</span>
                </label>
                <input type="text" id="email" name="email">
            </fieldset>

            <!-- pickup/delivery -->
             <fieldset>
                <legend>Select Pickup or Delivery</legend>
                <span class="err" id="err-pickup">Please select Pickup or Delivery.</span>
                <label for="pickup">
                    <input type="radio" id="pickup" value="pickup" name="method">Pickup</label>
                </label>
                <label for="delivery">
                    <input type="radio" id="delivery" value="delivery" name="method">Delivery</label>
                </label>
             </fieldset>

             <!-- toppings -->
             <fieldset>
                <legend>Select Toppings</legend>
                <label for="pepperoni">
                    <input type="checkbox" id="pepperoni" name="toppings[]" value="pepperoni">Pepperoni
                </label>
                <label for="peppers">
                    <input type="checkbox" id="peppers" name="toppings[]" value="peppers">Peppers
                <label for="onion">
                    <input type="checkbox" id="onion" name="toppings[]" value="onion">Onion
                </label>
                <label for="mushrooms">
                    <input type="checkbox" id="mushrooms" name="toppings[]" value="mushrooms">Mushrooms
                </label>
                <label for="anchovies">
                    <input type="checkbox" id="anchovies" name="toppings[]" value="anchovies">Anchovies
                </label>
                <label for="xtra cheese">
                    <input type="checkbox" id="xtra cheese" name="toppings[]" value="xtra cheese">Extra Cheesy!
                </label>
             </fieldset>

             <!-- pizza size -->
            <fieldset>
                <legend>Select Size</legend>
                <span class="err" id="err-size">Please select a size.</span>
                <select id="size" name="size">
                    <option value="none">Select a size</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                    <option value="xtra large">Extra Large</option>
                </select>
            </fieldset>
            
            <!-- comments and add. inst.-->
            <label for="comment">Comments and Additional Instructions</label>
            <textarea rows="5" id="comment" name="comment"></textarea>

            <!--- sign up box -->
            <label for="signup">
                <input type="checkbox" id="signup" name="signup" checked>Sign me up for discounts and other news!
            </label>

            <!-- submit button -->
            <button type="submit" id="order-button" name="submit">Place Order</button>
            
        </form>

    </main>

</body>

</html>